---
import Layout from "../layouts/Layout.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import { Image } from "astro:assets";
---

<Layout
  title="關於老鹿"
  description="嗨，我是Louis 老鹿，一位熱衷持續學習與自我實驗的多領域探索者。我專注於幫助他人打造個人品牌與提升高效表現，助你突破生活與職業瓶頸。我擁有超過4年的即時口譯經驗，曾協助100多場培訓課程完成中英口譯，並在上海擔任燈光影視器材技術業務主管，為知名電視節目提供專業支持。如今，我將這些多元經驗融入個人品牌與自我成長的研究與實踐，深信每一次互動都能成為改變人生的關鍵時刻。想知道如何在數位時代打造屬於你的獨特定位並實現自我價值嗎？歡迎關注我的『老鹿一人宇宙』專欄，獲取實用的個人品牌策略與高效生活的靈感，與我一起探索無限可能！。"
  pubDate={new Date("Aug 19 2024")}
>
  <main>
    <div class="w-full max-w-3xl mx-auto">
      <Breadcrumb />
    </div>
    <div class="w-full max-w-2xl rounded-xl mx-auto">
      <Image
        src="/blog-placeholder-5.jpg"
        widths={[300, 600, 1000]}
        sizes="(max-width: 640px) 300px, max-width: 720px) 600px, (max-width: 1024px) 1000px, 100vw"
        alt="關於老鹿"
        width={1000}
        height={500}
        loading="lazy"
        inferSize={true}
        format={"avif"}
        class=""
      />
    </div>

    <div class="w-full max-w-2xl text-xl/relaxed mx-auto mt-8">
      <p>
        <h2>嗨，我是Louis 老鹿</h2>
        一位持續學習和自我實驗的多領域探索者。 我擁有超過4年的即時口譯經驗，曾協助完成100多場培訓課程的中英口譯。<br
        /><br />
        在上海時擔任燈光影視器材的技術業務主管，為知名電視節目提供技術支持。<br
        /><br />
        現在的我更專注於個人品牌及高效表現的研究與實踐，幫助他人突破生活和職業瓶頸。<br
        /><br />
        我相信每次互動都可能成為改變人生的關鍵時刻，這也是我熱愛探索生命的原因。<br
        /><br />
        想了解更多關於如何在數位時代打造個人品牌嗎？歡迎關注我的「老鹿一人宇宙」專欄。
      </p>
    </div>
  </main>
</Layout>
