---
import Layout from "../layouts/Layout.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ArticleSection from "../components/ArticleSection.astro";
import { getEntry, render } from "astro:content";

const homepage = await getEntry("homepage", "index");
const { Content } = await render(homepage);
---

<Layout title={SITE_TITLE}>
  <main>
    <article>
      <Content />
    </article>
    <ArticleSection />
  </main>
</Layout>
