---
// HeroKit.astro
---

<script is:inline src="https://embed.herokit.design" type="module" async></script>
<div class="herokit rounded-lg aspect-[2.5/1] overflow-hidden w-full mx-auto flex items-center justify-center mb-8 shadow-lg">
	<hero-kit id="4XktgnSl4pIW"/>
</div>