---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		<!-- ahrefs setup -->
		<script type="text/partytown" src="https://analytics.ahrefs.com/analytics.js" data-key="h8OQRUhXvvY2LPkuL7o0IQ" async></script>
	</head>
	<body>
		<Header / transition:persist>
		<slot />
		<Footer />
		<!-- Facebook SDK -->
		<script type="text/partytown" is:inline>
			window.fbAsyncInit = function() {
				window.FB.init({
					appId: '1200990651170931',
					xfbml: true,
					version: 'v20.0'
				});
				window.FB.AppEvents.logPageView();
			};

			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) { return; }
				js = d.createElement(s);
				js.id = id;
				js.src = "https://connect.facebook.net/en_US/sdk.js";
				if (fjs && fjs.parentNode) {
					fjs.parentNode.insertBefore(js, fjs);
				}
			}(document, 'script', 'facebook-jssdk'));
		</script>
	</body>
</html>
